<div class="grid gap-4">
  <div *ngFor="let item of [1,2,3,4]" class="p-4 border-round border-1 surface-border surface-card mb-4">
    <div class="animate-pulse bg-gray-200 h-4 w-full rounded"></div>
    <div class="flex justify-content-between mb-3">
      <div class="animate-pulse bg-gray-200 h-4 w-full rounded"></div>
      <div class="animate-pulse bg-gray-200 h-4 w-full rounded"></div>
    </div>
    <div class="animate-pulse bg-gray-200 h-4 w-full rounded"></div>
    <div class="animate-pulse bg-gray-200 h-4 w-full rounded"></div>
  </div>
</div>
